// utils styles
@import './utils/variables';
@import './utils/placeholders';
@import './utils/visually-hidden';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/buttons';
@import './components/container';
@import './components/modal';
@import './components/section';
@import './components/_team-socials';
@import './components/footer-join';
@import './components/footer-subscribe';
@import './components/portfolio-filters';

// layout styles
@import './layout/header';
@import './layout/hero';
@import './layout/about';
@import './layout/our-activity';
@import './layout/portfolio';
@import './layout/team';
@import './layout/footer';
@import './layout/regular-customers';








