.about-logo {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.about-logo__list {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-logo__icons {
    width: 70px;
    height: 70px;
    display: block;
}

.about__container {
    display: flex;
    gap: 30px;
    margin: auto;
}

.about-list__item {
    width: 270px;
}

.about-list__tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-list__description {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}