.footer {
    background-color: var(--dark-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;

&__contacts:last-child {
margin-bottom: 0;
}
}


.footer-container {
    display: flex;
    align-items: baseline;
}

.footer__list {
    margin-top: 20px;
}

.footer-addres__link {
    color: #ffffff;
}

.footer__contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}
