.footer {
    background-color: var(--dark-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;

&__contacts:last-child {
margin-bottom: 0;
}
}


.footer-container {


@media screen and (min-width: 480px) {}
    
@media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
    
@media screen and (min-width: 1200px) {
align-items: baseline;
display: flex;
flex-direction: row;
}
}
}
.footer__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;

    @media screen and (min-width: 480px) {}
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 1200px) {
        display: block;
    }
}
.footer-subscribe__items {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 480px) {}
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 1200px) {
    display: block;
    }
}
.footer__adress-position {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 480px) {}
    
    @media screen and (min-width: 768px) {}
    
    @media screen and (min-width: 1200px) {
            display: block;
        }
}
.footer__tablet-view {
@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
display: flex;
margin-bottom: 0;
align-items: baseline;
}

}

.footer-addres__link {
    color: #ffffff;
}

.footer__contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}
