.header-border-line {
    border-bottom: 1px solid #ececec;
}

.header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.header__logo {
    margin-right: 93px;
}

.logo--accent {
    color: var(--acent-txt-cl);
}

.logo--white {
    color: #ffffff;
}

.header-list {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 480px) {
        
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media screen and (min-width: 1200px) {}
}

.header-list--current-link {
position: relative;
color: var(--accent-txt-cl);

&::after {
content: '';
position: absolute;
bottom: 0px;
left: 0;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--acent-txt-cl);
}
}



.header-contacts {
display: flex;
align-items: center;

&__list:hover,
&__list:focus {
color: var(--acent-txt-cl);


}

&__mail-link:focus,
&__mail-link:focus &__icon-mail,
&__mail:hover &__icon-mail,
.header-phone-link:focus,
.header-phone-link:focus &__icon-tel,
.header-phone:hover &__icon-tel {
fill: var(--acent-txt-cl);
color: var(--acent-txt-cl);
}
}

.header-list__link,
.header-contacts__list {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__list {
    
    color: #757575;
    margin-right: 50px;

    @media screen and (max-width: 768px) {
    display: none;
    }
}
.header-contacts__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
}

.header-contacts__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
}

.header-contacts__icon-mail,
.header-contacts__icon-tel {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}