.footer-subscribe {
display: flex;
align-items: center;
flex-direction: column;
gap: 20px;
&__btn:hover,
&__btn:focus {
background-color: #188ce8;

@media screen and (min-width: 768px) {
  display: block;
}

@media screen and (min-width: 1200px) {
display: block;
}
}
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-end;
    justify-content: center;
    margin-left: 93px;
  }
}
.footer-subscribe__txt {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-subscribe__form {
  width: 450px;
  border-radius: 4px;
  padding: 15px;
  padding-left: 16px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.footer-subscribe__container {
  margin-left: 12px;
  
  
}
.footer-subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--acent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
  }
}