.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;

&__register-btn:hover,
&__register-btn:focus {
background-color: #188ce8;
}

&__register-input:focus {
border: 1px solid var(--acent-txt-cl);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__register-input:focus+&__form-icon .contact-form-logo {
fill: var(--acent-txt-cl);
border-color: var(--acent-txt-cl);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__checkbox:checked+&__register-icon &__register-uncheck {
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__btn-icon:hover {
    fill: var(--acent-txt-cl);
}

&__register-wrap:last-child {
    margin-bottom: 0;
}

&__form-icon:hover {
    fill: var(--acent-txt-cl);
}

&__checkbox:checked+&__register-icon &__register-check {
    opacity: 1;
}
}
.backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 600ms ease-out, visibility 600ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}
/* Modal form */
.modal__register {
  text-align: center;
}
.modal__register-title {
  margin-bottom: 12px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal__register-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.modal__register-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 14px;
  padding-left: 42px;
  outline: transparent;
}
.modal__register-message {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.modal__form-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.modal__icon-user {
  width: 12px;
  height: 12px;
}
.modal__icon-phone {
  width: 13px;
  height: 13px;
}
.modal__icon-mail {
  width: 15px;
  height: 12px;
}
.modal__form-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__register-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__register-check {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__register-agreement-text {
  user-select: none;
  text-underline-position: under;
}
.modal__register-agreement-link {
  color: var(--acent-txt-cl);
}
.modal__register-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 52px;
  width: 200px;
  height: 50px;
  background-color: var(--acent-txt-cl);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}